.center {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.MessagesBlock {
  margin-top: 70px;
  background: #156759;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 12px 12px 0px 0px;
  height: 818px;
}
.MessagesBlock .user {
  display: flex;
  flex-direction: row;
  background: #4E8F7C;
  border-radius: 5px;
  width: 92.8%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  justify-content: space-between;
  margin-top: 16px;
}
.MessagesBlock .user p {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}
.MessagesBlock .user img {
  padding-right: 24px;
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.MessagesBlock .messages {
  height: 681px;
  background: #0B423D;
  border-radius: 9px;
  width: 92.8%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 7px;
}
.MessagesBlock .messages .message {
  display: flex;
  flex-direction: row;
  margin-left: 28px;
}
.MessagesBlock .messages .message img {
  width: 40px;
  height: 40px;
}
.MessagesBlock .messages .message .textData {
  width: 100%;
  margin-left: 17px;
  margin-right: 29px;
}
.MessagesBlock .messages .message .textData .text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.MessagesBlock .messages .message .textData .text p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 12px;
}
.MessagesBlock .messages .message .textData .text span {
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  color: #ABABAB;
  margin-top: 12px;
}
.MessagesBlock .send {
  display: flex;
  flex-direction: row;
  width: 92.8%;
  margin-top: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.MessagesBlock .send img:first-child {
  width: 30px;
}
.MessagesBlock .send img:nth-child(2) {
  margin-left: 16px;
}
.MessagesBlock .send input {
  margin-left: 14px;
  background: #4E8F7C;
  border-radius: 22px;
  border-width: 0;
  width: 80%;
}
.MessagesBlock .send img:last-child {
  margin-left: 11px;
}
