.NavList{
    margin: 0;
    margin-top: 50px;
    list-style: none;
    font-family: Roboto;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: grid;
    grid-template-rows: repeat (3);
    grid-row-gap: 24px;
    padding-top: 29px;
    padding-left: 0;
    position: fixed;
  }
  .NavList li{
    height: 30px;
    }
.NavList li img{
height: 100%;
}
.NavList li text{
    vertical-align: top;
}